body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --paragraph-medium-medium: Inter;

  /* font sizes */
  --paragraph-medium-medium-size: 16px;
  --paragraph-small-medium-size: 14px;
  --paragraph-large-regular-size: 18px;
  --display-bold-large-size: 52px;

  /* Colors */
  --generic-white: #fff;
  --neutral-900: #111827;
  --primary-500-main: #4b4efc;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-7xs: 6px;

  /* Effects */
  --drop-shadow-xsmall: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
